class Confpub < Formula
  # These files are recreated on every release, to make changes, edit templates/kionctl.rb.j2
  desc "Confluence CLI"
  homepage "https://gitlab.com/benyanke/confpub/"
  version "{{ version }}"

  if OS.mac? && Hardware::CPU.intel?
    sha256 "{{ darwin_amd64_sha256 }}"
    url "https://gitlab.com/api/v4/projects/{{ projectid }}/packages/generic/releases/" + version + "/confpub_darwin_amd64"
  end

  if OS.mac? && Hardware::CPU.arm?
    sha256 "{{ darwin_arm64_sha256 }}"
    url "https://gitlab.com/api/v4/projects/{{ projectid }}/packages/generic/releases/" + version + "/confpub_darwin_arm64"
  end

  if OS.linux? && Hardware::CPU.intel?
    sha256 "{{ linux_amd64_sha256 }}"
    url "https://gitlab.com/api/v4/projects/{{ projectid }}/packages/generic/releases/" + version + "/confpub_linux_amd64"
  end

  if OS.linux? && Hardware::CPU.arm?
    sha256 "{{ linux_arm64_sha256 }}"
    url "https://gitlab.com/api/v4/projects/{{ projectid }}/packages/generic/releases/" + version + "/confpub_linux_arm64"
  end

  def install
    file = Dir.glob("confpub_*").first
    bin.install file => "confpub"
  end 

  # TODO - improve test somehow
  test do
    confpub || true
  end

end
