class IcalStats < Formula
  # These files are recreated on every release, to make changes, edit templates/ical-stats.rb.j2
  desc "ical statistics tool for timecard tracking"
  homepage "https://gitlab.com/benyanke/ical-stats/"
  version "{{ version }}"

  if OS.mac? && Hardware::CPU.intel?
    sha256 "{{ darwin_amd64_sha256 }}"
    url "https://gitlab.com/api/v4/projects/{{ projectid }}/packages/generic/releases/" + version + "/ical-stats_darwin_amd64"
  end

  if OS.mac? && Hardware::CPU.arm?
    sha256 "{{ darwin_arm64_sha256 }}"
    url "https://gitlab.com/api/v4/projects/{{ projectid }}/packages/generic/releases/" + version + "/ical-stats_darwin_arm64"
  end

  if OS.linux? && Hardware::CPU.intel?
    sha256 "{{ linux_amd64_sha256 }}"
    url "https://gitlab.com/api/v4/projects/{{ projectid }}/packages/generic/releases/" + version + "/ical-stats_linux_amd64"
  end

  if OS.linux? && Hardware::CPU.arm?
    sha256 "{{ linux_arm64_sha256 }}"
    url "https://gitlab.com/api/v4/projects/{{ projectid }}/packages/generic/releases/" + version + "/ical-stats_linux_arm64"
  end

  def install
    file = Dir.glob("ical-stats_*").first
    bin.install file => "ical-stats"
  end 

  # TODO - improve test somehow
  test do
    ical-stats || true
  end

end
